:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */

/*FONT*/
@font-face {
  font-family: 'alfaSlab';
  /* Give it a name */
  src: url('/font/AlfaSlabOne.ttf') format('truetype');
  /* Add more src lines for other file formats if needed */
  font-weight: normal;
  font-style: normal;
}

/*BG*/

.area {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(/cow/cowbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;

}

.sun {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(/cow/sun.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;

}

.bgColor {
  background-color: #FEB711;
  width: 100%;
  height: 100%;
}

.main-land-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  /* background-image: url(/cowbg.svg); */
  background-size: cover;
  background-position: center;
}


.home-hero-text {

  color: #000;
  text-align: center;
  margin-bottom: -4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-hero-text img {
  width: 30em;
}

.home-hero-text h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  color: #fff;
  /* text-shadow: 0 6px 0 #000; */
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1;
  font-family: 'alfaSlab';
  letter-spacing: 5px;
}

.home-hero-text p {
  margin-bottom: 0;
  font-size: 7em;
  color: black;
  text-transform: uppercase;
  font-family: 'alfaSlab';
}

.hero-img {
  height: 60vh;
  width: 60vh;
  animation: floatAnimation 3s infinite;
}


@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/*FOOTER*/

footer {

  /* background: #FFEB3B; */
  color: white;
  font-family: 'alfaSlab';
  font-size: 1.5em;
}

footer p {
  text-align: center;
  padding-top: 10px;
}

.ft-position {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 999999;
  bottom: -3%;
}

/*MENu*/


.main-menu {

  position: fixed;
  /* position: relative; */
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* margin-bottom: -5%; */
  z-index: 9999999;


}

.main-menu li {
  color: #000;
  /* background-color: #fff; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'alfaSlab';
  font-size: 1.3em;
  border: none;
  margin: 0 12px;
  cursor: pointer;
}

.main-menu li:hover {
  scale: 1.05;

}

.main-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;


}


/*FARMING*/
.board {
  background-image: url(/cow/pointboard.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 95px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  font-family: Changa One, Impact, sans-serif;
  font-weight: 900;
}


.farm-land {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;

}


.farm-land h1 {
  color: black;
  font-size: 1em;
  text-align: center;
  font-family: 'alfaSlab';
  letter-spacing: 2px;
}



.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
  row-gap: 20px;
  column-gap: 20px;
  height: 50px;
  margin-top: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  border: solid 5px black;
  border-radius: 10px;
}

.task:hover {
  scale: 1.07;
}

.task p {

  font-size: 1em;
  font-family: 'alfaSlab';
  text-transform: uppercase;
  letter-spacing: 2px;

}

.task.completed {
  pointer-events: none;
  /* Disable click events */
  opacity: 1;
  background-color: black;
  color: white;
}

.boardx{

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 65%;
  /* width: 400px;
  height: 95px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: Changa One, Impact, sans-serif;
  font-weight: 900;
  margin-top: 20px; */

}

.box-farming {

  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

/*LOGOUT*/

.logout button {
  color: white;
  background-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 8px;
  font-family: 'alfaSlab';
  font-size: 1em;
  /* box-shadow: 0 4px #000; */
  border: none;
  margin: 0 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

/*TOKEM*/
.main-token {

  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

}



/*END*/





.layout {
  position: relative;
}


/*Footer*/

.social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.social li {

  margin-left: 20px;
  margin-right: 20px;
  ;


}

.social li:hover {

  scale: 1.05;


}


/*TOKEn*/



.token-land {

  position: relative;
  z-index: 99;
  background: url('/cow/stone.svg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width:40%;
  flex-direction: column;
  align-items: center;


}

.token-land div {
  padding: 10px;
  /* background: white; */
  font-size: 1.5em;
  font-family: 'alfaSlab';
  color:black;
  font-size:1.5em;
  text-transform:uppercase;


}

/*LANDING*/

.main-land {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 9999;
  width: 100%;
  /* background-image: url(/assets/redhero.png);
  background-size: cover;
  background-position: center; */


}


/*FARMING*/

.main-farming {
  width: 100%;
  height: 100%;
  position: relative;
  height: 100vh;

}

.twitter-intent {

  z-index: 9999;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.twitter-intent p {

  color: black;
  font-size: 2.5em;
  font-family:'alfaSlab';
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}


.twitter-intent button {
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'alfaSlab';
  font-size: 1.3em;
  box-shadow: 0 4px #000;
  border: none;
  margin: 0 12px;
  cursor: pointer;
}



.complete {
  color: #FFEB3B;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  font-family: Changa One, Impact, sans-serif;
  letter-spacing: 2px;
}

.logout {
  width: 100%;
  text-align-last: center;
}

.inner-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.points-box {
  display: flex;
  justify-content: center;
  width: 100%;
}



.task-grp {
  width: 62%;
  max-width: 700px;
  margin-top: 30px;
}


.comingquest {
  color: white;
  font-weight: 500;
  margin-top: 20px;
}

/*BG ANIMATION*/


/* .area {
  background: transparent;
  width: 100%; */
/* height: 100vh; */


/* } */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255);
  animation: animate 25s linear infinite;
  background-image: url(/circle.svg);
  bottom: -180px;

}

.circles li:nth-child(1) {
  left: 2%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 60%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 50%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 55%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 15%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 90%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 70%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 40%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }

}

/*BITCOIN*/

.circles-b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles-b li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255);
  animation: animate-b 25s linear infinite;
  background-image: url(/bit.svg);
  bottom: -180px;
}

.circles-b li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles-b li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles-b li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles-b li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles-b li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles-b li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles-b li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles-b li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles-b li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles-b li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate-b {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

/*URDI*/

.circles-c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles-c li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255);
  animation: animate-c 20s linear infinite;
  background-image: url(/urdi.svg);
  bottom: -180px;
}

.circles-c li:nth-child(1) {
  left: 15%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles-c li:nth-child(2) {
  left: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles-c li:nth-child(3) {
  left: 45%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles-c li:nth-child(4) {
  left: 33%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles-c li:nth-child(5) {
  left: 88%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles-c li:nth-child(6) {
  left: 27%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles-c li:nth-child(7) {
  left: 83%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles-c li:nth-child(8) {
  left: 78%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles-c li:nth-child(9) {
  left: 52%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles-c li:nth-child(10) {
  left: 57%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate-c {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

/*MCDONALD*/

.circles-m {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles-m li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255);
  animation: animate-m 30s linear infinite;
  background-image: url(/mc.svg);
  bottom: -180px;
}

.circles-m li:nth-child(1) {
  left: 15%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles-m li:nth-child(2) {
  left: 40%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles-m li:nth-child(3) {
  left: 45%;
  width: 30px;
  height: 30px;
  animation-delay: 4s;
}

.circles-m li:nth-child(4) {
  left: 93%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles-m li:nth-child(5) {
  left: 88%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

@keyframes animate-m {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}


/*END OF COINS*/


.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-image: url(/farm.png);
  background-position: center;
  background-size: cover;
}


/*POPUP*/




/*MOBILE*/

@media (max-width: 500px) {
  /* Styles for screens with a width of 500 pixels or less go here */
  /* For example, you can adjust font sizes, margins, paddings, etc. */
  .popup{
    font-size: 1.5em!important;

  }
  .ft-position{
    width:70%;
  }

  .home-hero-text img {
    width: 15em;
  }

  .home-hero-text h1 {
    font-size: 3rem;
  }

  .home-hero-text p {
    font-size: 4rem;
  }

  .main-menu {
    margin-bottom: -55%;
    top: 9%;
  }

  .main-menu ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    list-style: none;
  }

  .main-menu li {

    font-size: 1.1em;
    width: 80%;
    text-align-last: center;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .farm-land h1 {
    text-align: center;
  }

  .task-grp {
    width: 88%;
  }

  .task {
    margin-top: 5px;
  }

  .task p {
    font-size: 1em;

  }

  .farm-land {
    padding-top: 100px;
  }

  .token-land {

    background-size: contain;
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: center;
    width:80%;

  }

  .token-land div {

font-size: 12px;
    font-family: 'alfaSlab';
    /* border: solid 8px; */
    /* margin: 10px; */
    padding: 7px;
    /* margin-bottom: 27%; */
    /* margin-top: -17%;*/
    text-align: center;
  }

  .box-farming {
    width: 90%;
    margin-bottom: 13%;
  }

  .boardx {
 
    width: 97%;
}

/* 
  .popup {
    width: 90% !important;
    top: 300% !important;
  } */

  .board {
    height: 90px;
  }

  .twitter-intent p {
    font-size: 2em;
  }

  .hero-img{
    width: 46vh;
    height: 37vh;
  }

}